body {
  background-color: #252525;
  font-family: sans-serif;
}

#page {
  height: 100%;
  width: 100%;
}

.installed {
  background-image: url('./assets/panel_screenshot.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 200px;
}

#main-view {
  top: 40%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
}

.screenshot-container {
  margin-left: auto;
  margin-right: auto;
  top: 30px;
  height: 120px;
  width: 300px;
}

.screenshot {
  margin-top: 35px;
  width: 90px;
}

.status {
  width: 350px;
  height: 20px;
  font-size: 15px;
  color: #bbbbbb;
  text-align: center;
  padding-top: 5px;
}

.loaded {
  width: 350px;
  height: 20px;
  font-size: 15px;
  color: #bbbbbb;
  text-align: center;
  padding-top: 5px;
  position: fixed;
  margin-top: -210px;
  margin-left: -40px;
  z-index: 1;
}

#holder {
  background-image: url('assets/OALogo.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 00px;
  width: 250px;
  height: 230px;
  border-radius: 25px;
  /*border: 2px  #FF9600 dashed;*/
  color: #bbbbbb;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  text-transform: capitalize;
  margin: 0 auto;
  margin-top: 40px;
}

#holder.hover {
  border: 2px #666666 dashed;
}
